{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-tabs": "off",
    "indent": "off",
    "space-before-function-paren": "off",
    "react/jsx-boolean-value": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "padded-blocks":"off",
    "semi":"off",
    "no-multi-spaces":"off"
  }
}
